.App {
  text-align: center;
}

.App-Header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #222;
  color: white;
  margin-bottom: 10px;
  padding: 10px;
}

.App-Title-1 {
  font-size: 16px;
}

.App-Title-2 {
  font-size: 28px;
}

.App-Title-3 {
  font-size: 8px;
}

.ColorBox {
  height: 90px;
  width: 90px;
  border-radius: 6px;
}

.Captions {
  font-size: 6px;
}
.Main-Picker {
  display: flex;
  justify-content: center;
}

.Sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}