.App {
  text-align: center;
}

.App-Header {
  background-color: #222;
}

.App-Title-h2 {
  background-color: #222;
  padding: 0px;
  color: white;
}

.App-Title-h5 {
  background-color: #222;
  padding-top: 6px;
  color: white;
}

.App-Title-h6 {
  background-color: #222;
  padding-bottom: 6px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Main-Picker {
  display: flex;
  justify-content: center;
}

.Sliders {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
}